
.contact-gallery .elementor-widget-zourney-image-gallery .elementor-zourney-image-gallery{
    margin-bottom: -116px !important;
}
.elementor-widget-zourney-team-box .team-icon-socials{
    display: none !important;
}
.elementor-2981 .elementor-element.elementor-element-66fce94 .elementor-heading-title{
    text-transform: capitalize;
}
.babe_items .item_title{
    text-transform: capitalize;
}

/* Sticky Menu Css */

.header-absolute.elementor-sticky--effects{
    background-color: #fff !important;
   
}
.elementor-92 .elementor-sticky--effects .elementor-element.elementor-element-3edbcde .main-navigation ul.menu >li.menu-item >a {
    color: #000 !important;
}
.elementor-92 .elementor-sticky--effects .elementor-element.elementor-element-a0cacea .elementor-icon-box-description{
    color: #000 !important;
}

.elementor-92 .elementor-sticky--effects .elementor-element.elementor-element-a0cacea.elementor-view-framed .elementor-icon, 
.elementor-92 .elementor-sticky--effects .elementor-element.elementor-element-a0cacea.elementor-view-default .elementor-icon {
    fill: #000 !important;
    color: #000 !important;
    border-color: #000 !important;
}

.elementor-92 .elementor-sticky--effects .elementor-element.elementor-element-b59d5cf .elementor-header-group-wrapper .header-group-action > div a:not(:hover) i:before{
color: #000 !important;
}

.elementor-92 .elementor-sticky--effects .elementor-element.elementor-element-bbbadc9 .menu-mobile-nav-button:not(:hover){
    color: #000 !important;
} 

/* End Sticky Menu Css  */

.single-to_book .site-content{
    margin-top: 120px !important;
}


@media (max-width: 1200px){
    /* .contact-gallery .elementor-widget-zourney-image-gallery .elementor-zourney-image-gallery{
        margin-bottom: -97px !important;
    } */
}
@media (min-width: 768px){
    .royalMenu .elementor-nav-menu-wrapper .main-navigation ul.menu > li.menu-item > a > span:after, 
    .royalMenu .elementor-nav-menu-wrapper .main-navigation ul.nav-menu > li.menu-item > a > span:after{
        width: 25px;
    height: 3px;
    border-radius: 0;
    }
}
