
@font-face {
  font-family: "zourney-icon";
  src: url("../../../fonts/icons/zourney-icon-1.2.1.eot");
  src: url("../../../fonts/icons/zourney-icon-1.2.1.eot?#iefix") format("eot"), url("../../../fonts/icons/zourney-icon-1.2.1.woff2") format("woff2"), url("../../../fonts/icons/zourney-icon-1.2.1.woff") format("woff"), url("../../../fonts/icons/zourney-icon-1.2.1.ttf") format("truetype"), url("../../../fonts/icons/zourney-icon-1.2.1.svg#zourney-icon-1.2.1") format("svg"); }

[class*="zourney-icon-"] {
  font-family: "zourney-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle; }

.zourney-icon-acreage:before {
  content: ""; }

.zourney-icon-adventure:before {
  content: ""; }

.zourney-icon-arrow-long-left:before {
  content: ""; }

.zourney-icon-arrow-long-right:before {
  content: ""; }

.zourney-icon-bag:before {
  content: ""; }

.zourney-icon-beach:before {
  content: ""; }

.zourney-icon-best-price:before {
  content: ""; }

.zourney-icon-binoculars:before {
  content: ""; }

.zourney-icon-boat:before {
  content: ""; }

.zourney-icon-booking:before {
  content: ""; }

.zourney-icon-calendar:before {
  content: ""; }

.zourney-icon-camp:before {
  content: ""; }

.zourney-icon-card-remove:before {
  content: ""; }

.zourney-icon-city:before {
  content: ""; }

.zourney-icon-clock-1:before {
  content: ""; }

.zourney-icon-clock-time:before {
  content: ""; }

.zourney-icon-email:before {
  content: ""; }

.zourney-icon-facebook-f:before {
  content: ""; }

.zourney-icon-flag:before {
  content: ""; }

.zourney-icon-food:before {
  content: ""; }

.zourney-icon-google-plus-g:before {
  content: ""; }

.zourney-icon-heritage:before {
  content: ""; }

.zourney-icon-honeymoon:before {
  content: ""; }

.zourney-icon-linkedin-in:before {
  content: ""; }

.zourney-icon-login:before {
  content: ""; }

.zourney-icon-map:before {
  content: ""; }

.zourney-icon-menu:before {
  content: ""; }

.zourney-icon-minus:before {
  content: ""; }

.zourney-icon-package:before {
  content: ""; }

.zourney-icon-people:before {
  content: ""; }

.zourney-icon-percent:before {
  content: ""; }

.zourney-icon-phone-1:before {
  content: ""; }

.zourney-icon-phone:before {
  content: ""; }

.zourney-icon-pin:before {
  content: ""; }

.zourney-icon-plane:before {
  content: ""; }

.zourney-icon-play:before {
  content: ""; }

.zourney-icon-quote-2:before {
  content: ""; }

.zourney-icon-rating:before {
  content: ""; }

.zourney-icon-search:before {
  content: ""; }

.zourney-icon-share:before {
  content: ""; }

.zourney-icon-shopping-1:before {
  content: ""; }

.zourney-icon-staff:before {
  content: ""; }

.zourney-icon-star-2:before {
  content: ""; }

.zourney-icon-star-bold:before {
  content: ""; }

.zourney-icon-stars-1:before {
  content: ""; }

.zourney-icon-support:before {
  content: ""; }

.zourney-icon-tag-left:before {
  content: ""; }

.zourney-icon-testimonial:before {
  content: ""; }

.zourney-icon-ticket:before {
  content: ""; }

.zourney-icon-tour:before {
  content: ""; }

.zourney-icon-travel:before {
  content: ""; }

.zourney-icon-trip:before {
  content: ""; }

.zourney-icon-trips:before {
  content: ""; }

.zourney-icon-wallet:before {
  content: ""; }

.zourney-icon-wildlife:before {
  content: ""; }

.zourney-icon-world:before {
  content: ""; }

.zourney-icon-adobe:before {
  content: ""; }

.zourney-icon-amazon:before {
  content: ""; }

.zourney-icon-android:before {
  content: ""; }

.zourney-icon-angular:before {
  content: ""; }

.zourney-icon-apper:before {
  content: ""; }

.zourney-icon-apple:before {
  content: ""; }

.zourney-icon-atlassian:before {
  content: ""; }

.zourney-icon-behance:before {
  content: ""; }

.zourney-icon-bitbucket:before {
  content: ""; }

.zourney-icon-bitcoin:before {
  content: ""; }

.zourney-icon-bity:before {
  content: ""; }

.zourney-icon-bluetooth:before {
  content: ""; }

.zourney-icon-btc:before {
  content: ""; }

.zourney-icon-centos:before {
  content: ""; }

.zourney-icon-chrome:before {
  content: ""; }

.zourney-icon-codepen:before {
  content: ""; }

.zourney-icon-cpanel:before {
  content: ""; }

.zourney-icon-discord:before {
  content: ""; }

.zourney-icon-dochub:before {
  content: ""; }

.zourney-icon-docker:before {
  content: ""; }

.zourney-icon-dribbble:before {
  content: ""; }

.zourney-icon-dropbox:before {
  content: ""; }

.zourney-icon-drupal:before {
  content: ""; }

.zourney-icon-ebay:before {
  content: ""; }

.zourney-icon-facebook:before {
  content: ""; }

.zourney-icon-figma:before {
  content: ""; }

.zourney-icon-firefox:before {
  content: ""; }

.zourney-icon-google-plus:before {
  content: ""; }

.zourney-icon-google:before {
  content: ""; }

.zourney-icon-grunt:before {
  content: ""; }

.zourney-icon-gulp:before {
  content: ""; }

.zourney-icon-html5:before {
  content: ""; }

.zourney-icon-jenkins:before {
  content: ""; }

.zourney-icon-joomla:before {
  content: ""; }

.zourney-icon-link-brand:before {
  content: ""; }

.zourney-icon-linkedin:before {
  content: ""; }

.zourney-icon-mailchimp:before {
  content: ""; }

.zourney-icon-opencart:before {
  content: ""; }

.zourney-icon-paypal:before {
  content: ""; }

.zourney-icon-pinterest-p:before {
  content: ""; }

.zourney-icon-reddit:before {
  content: ""; }

.zourney-icon-skype:before {
  content: ""; }

.zourney-icon-slack:before {
  content: ""; }

.zourney-icon-snapchat:before {
  content: ""; }

.zourney-icon-spotify:before {
  content: ""; }

.zourney-icon-trello:before {
  content: ""; }

.zourney-icon-twitter:before {
  content: ""; }

.zourney-icon-vimeo:before {
  content: ""; }

.zourney-icon-whatsapp:before {
  content: ""; }

.zourney-icon-wordpress:before {
  content: ""; }

.zourney-icon-yoast:before {
  content: ""; }

.zourney-icon-youtube:before {
  content: ""; }

.zourney-icon-angle-down:before {
  content: ""; }

.zourney-icon-angle-left:before {
  content: ""; }

.zourney-icon-angle-right:before {
  content: ""; }

.zourney-icon-angle-up:before {
  content: ""; }

.zourney-icon-arrow-down:before {
  content: ""; }

.zourney-icon-arrow-left:before {
  content: ""; }

.zourney-icon-arrow-right:before {
  content: ""; }

.zourney-icon-arrows-h:before {
  content: ""; }

.zourney-icon-bars:before {
  content: ""; }

.zourney-icon-calendar-alt:before {
  content: ""; }

.zourney-icon-camera-alt:before {
  content: ""; }

.zourney-icon-caret-down:before {
  content: ""; }

.zourney-icon-caret-left:before {
  content: ""; }

.zourney-icon-caret-right:before {
  content: ""; }

.zourney-icon-caret-up:before {
  content: ""; }

.zourney-icon-cart-empty:before {
  content: ""; }

.zourney-icon-check-circle:before {
  content: ""; }

.zourney-icon-check-square:before {
  content: ""; }

.zourney-icon-check:before {
  content: ""; }

.zourney-icon-chevron-circle-left:before {
  content: ""; }

.zourney-icon-chevron-circle-right:before {
  content: ""; }

.zourney-icon-chevron-down:before {
  content: ""; }

.zourney-icon-chevron-left:before {
  content: ""; }

.zourney-icon-chevron-right:before {
  content: ""; }

.zourney-icon-chevron-up:before {
  content: ""; }

.zourney-icon-circle:before {
  content: ""; }

.zourney-icon-clock:before {
  content: ""; }

.zourney-icon-cloud-download-alt:before {
  content: ""; }

.zourney-icon-comment:before {
  content: ""; }

.zourney-icon-comments-alt:before {
  content: ""; }

.zourney-icon-comments:before {
  content: ""; }

.zourney-icon-contact:before {
  content: ""; }

.zourney-icon-credit-card:before {
  content: ""; }

.zourney-icon-dot-circle:before {
  content: ""; }

.zourney-icon-edit:before {
  content: ""; }

.zourney-icon-envelope:before {
  content: ""; }

.zourney-icon-expand-alt:before {
  content: ""; }

.zourney-icon-external-link-alt:before {
  content: ""; }

.zourney-icon-eye:before {
  content: ""; }

.zourney-icon-fan:before {
  content: ""; }

.zourney-icon-file-alt:before {
  content: ""; }

.zourney-icon-file-archive:before {
  content: ""; }

.zourney-icon-filter:before {
  content: ""; }

.zourney-icon-folder-open:before {
  content: ""; }

.zourney-icon-folder:before {
  content: ""; }

.zourney-icon-free_ship:before {
  content: ""; }

.zourney-icon-frown:before {
  content: ""; }

.zourney-icon-gift:before {
  content: ""; }

.zourney-icon-grip-horizontal:before {
  content: ""; }

.zourney-icon-heart-fill:before {
  content: ""; }

.zourney-icon-heart:before {
  content: ""; }

.zourney-icon-history:before {
  content: ""; }

.zourney-icon-home:before {
  content: ""; }

.zourney-icon-info-circle:before {
  content: ""; }

.zourney-icon-instagram:before {
  content: ""; }

.zourney-icon-level-up-alt:before {
  content: ""; }

.zourney-icon-location-circle:before {
  content: ""; }

.zourney-icon-long-arrow-alt-down:before {
  content: ""; }

.zourney-icon-long-arrow-alt-left:before {
  content: ""; }

.zourney-icon-long-arrow-alt-right:before {
  content: ""; }

.zourney-icon-long-arrow-alt-up:before {
  content: ""; }

.zourney-icon-long-arrow-left:before {
  content: ""; }

.zourney-icon-long-arrow-right:before {
  content: ""; }

.zourney-icon-map-marker-alt:before {
  content: ""; }

.zourney-icon-map-marker-check:before {
  content: ""; }

.zourney-icon-meh:before {
  content: ""; }

.zourney-icon-minus-circle:before {
  content: ""; }

.zourney-icon-mobile-android-alt:before {
  content: ""; }

.zourney-icon-money-bill:before {
  content: ""; }

.zourney-icon-pencil-alt:before {
  content: ""; }

.zourney-icon-play-2:before {
  content: ""; }

.zourney-icon-plus-circle:before {
  content: ""; }

.zourney-icon-plus:before {
  content: ""; }

.zourney-icon-quote:before {
  content: ""; }

.zourney-icon-random:before {
  content: ""; }

.zourney-icon-reply-all:before {
  content: ""; }

.zourney-icon-reply:before {
  content: ""; }

.zourney-icon-search-plus:before {
  content: ""; }

.zourney-icon-shield-check:before {
  content: ""; }

.zourney-icon-shopping-basket:before {
  content: ""; }

.zourney-icon-shopping-cart:before {
  content: ""; }

.zourney-icon-sign-in-alt:before {
  content: ""; }

.zourney-icon-sign-out-alt:before {
  content: ""; }

.zourney-icon-smile:before {
  content: ""; }

.zourney-icon-spinner:before {
  content: ""; }

.zourney-icon-square:before {
  content: ""; }

.zourney-icon-star:before {
  content: ""; }

.zourney-icon-sync:before {
  content: ""; }

.zourney-icon-tachometer-alt:before {
  content: ""; }

.zourney-icon-tags:before {
  content: ""; }

.zourney-icon-th-large:before {
  content: ""; }

.zourney-icon-th-list:before {
  content: ""; }

.zourney-icon-thumbtack:before {
  content: ""; }

.zourney-icon-times-circle:before {
  content: ""; }

.zourney-icon-times:before {
  content: ""; }

.zourney-icon-trophy-alt:before {
  content: ""; }

.zourney-icon-truck:before {
  content: ""; }

.zourney-icon-unlock:before {
  content: ""; }

.zourney-icon-user-headset:before {
  content: ""; }

.zourney-icon-user-shield:before {
  content: ""; }

.zourney-icon-user:before {
  content: ""; }

.zourney-icon-users:before {
  content: ""; }

.zourney-icon-video:before {
  content: ""; }

